.headerContainer {
  background-color: #f7f7f7;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
  position: relative;
  
}
.logo {
  font-family: "Dancing Script", serif;
  font-size: 25px;
}
.burger,
.close {
  width: 25px;
  height: 25px;
}
.logo span,
.burger {
  color: #c762e7;
}
.close {
  margin-top: 15px;
  color: white;
}
.closeMenu {
  display: none;
}
.menu {
  z-index: 10;
  transform: translateX(150%);
  transition: transform 0.5s ease;

  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #c762e7;
  position: fixed;
  top: 0;
  left: -16px;
  width: 100vw;
  height: 100vh;
  z-index: 200;
}

.open {
  transform: translateX(0);
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 35px;
  text-align: center;
  margin-top: 20px;
}
.item {
  padding: 20px;
  text-transform: uppercase;
}
.link {
  color: #c762e7;
}

.link.active, .link:hover {
  color: #9b01d0;
}

@media only screen and (min-width: 768px) {
  .header {
    padding: 20px 0;
  }
  .burger,
  .close {
    display: none;
  }
  .menu {
    transform: translateX(0);
    background-color: transparent;
    position: sticky;
    width: auto;
    height: auto;
  }
  .list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-direction: row;
    padding: 0;
    margin-top: 0;
    gap: 0;
  }
  .closeMenu {
    display: block;
  }
  .item {
    padding: 10px;
    color: black;
    text-transform: capitalize;
  }
  .item:hover {
    color: #c591d6;
  }
}
@media only screen and (min-width: 1024px) {
  .item {
    cursor: pointer;
  }
  .link {
    font-size: 20px;
    text-align: center;
  }
}
@media only screen and (min-width: 1440px) {
  .logo {
    font-size: 35px;
  }
  .link {
    font-size: 24px;
  }
}
