*,
*::before,
*::after {
  box-sizing: border-box;
}
/* #f6e5fa; для disable */
/* #9b01d0 для active */
/*#c591d6 для hover*/
body {
  margin: 0;
  /* font-family: 'Gilroy', sans-serif; */
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
input {outline:none;}

.container {
  padding: 0 32px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .container {
    padding: 0 48px;
  }
}
@media only screen and (min-width: 1024px) {
  .container {
    padding: 0 72px;
  }
}
/* 1280 */
@media only screen and (min-width: 1440px) {
  .container {
    padding: 0 90px;
  }
}


.experience-container {
  background: black;
  color: white;
  padding: 20px;
  max-width: 600px;
  margin: auto;
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}


